<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关系全貌 - 《红楼梦》知识图谱</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/logo.jpg">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">

    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Custom Styles -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">
    <script src="../static/js/pace.min.js"></script>

    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>

    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>
    <script src="../static/js/echarts.min.js"></script>
</head>

<body>
    <div id="container" class="effect aside-float aside-bright mainnav-sm">
        <!--NAVBAR-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <div class="navbar-header">
                    <a href="{{ url_for('index') }}" class="navbar-brand">
                        <div class="brand-title">
                            <span class="brand-text">《红楼梦》知识图谱</span>
                        </div>
                    </a>
                </div>
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-right">
                        <li><a href="{{ url_for('search') }}">人物关系检索</a></li>
                        <li><a href="{{ url_for('get_all_relation') }}" class="active">关系全貌</a></li>
                        <li><a href="{{ url_for('KGQA') }}">智能问答</a></li>
                    </ul>
                </div>
                <!--End Navbar Dropdown-->
            </div>
        </header>
        <!--END NAVBAR-->

        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <div id="content-container">
                <!--Page content-->
                <div id="page-content">
                    <h4 class="text-main pad-btm bord-btm">《红楼梦》人物关系全貌</h4>
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> 您可以拖拽、缩放查看关系图，点击节点可以查看详情。
                    </div>
                    <div id="guanxi"></div>
                    <script type="text/javascript">
                        window.onresize = function () {
                            myChart.resize();
                        }
                        $.ajaxSetup({ async: false });
                        var myChart = echarts.init(document.getElementById("guanxi"));
                        myChart.showLoading();
                        var rela = { "data": [], "links": [] };
                        $.getJSON('../static/data.json', function (json) {
                            rela = json;
                        });
                        myChart.hideLoading();
                        option = {
                            title: {
                                text: '红楼梦人物关系图',
                                textStyle: {
                                    fontWeight: "lighter",
                                }
                            },
                            animationDurationUpdate: 1500,
                            animationEasingUpdate: 'quinticInOut',
                            legend: {
                                x: "center",
                                show: true,
                                data: ["贾家荣国府", "贾家宁国府", "王家", "史家", "薛家", "其他", "林家"]
                            },
                            series: [
                                {
                                    type: 'graph',
                                    layout: 'force',
                                    symbolSize: 45,
                                    edgeSymbol: ['circle', 'arrow'],
                                    edgeSymbolSize: [4, 4],
                                    edgeLabel: {
                                        normal: {
                                            show: true,
                                            textStyle: {
                                                fontSize: 10
                                            },
                                            formatter: "{c}"
                                        }
                                    },
                                    force: {
                                        repulsion: 2500,
                                        edgeLength: [10, 100]
                                    },
                                    focusNodeAdjacency: true,
                                    draggable: true,
                                    roam: true,
                                    categories: [{
                                        name: '贾家荣国府',
                                    }, {
                                        name: '贾家宁国府',
                                    }, {
                                        name: '王家',
                                    },
                                    {
                                        name: '史家',
                                    }, {
                                        name: '薛家',
                                    }, {
                                        name: '其他',
                                    },
                                    {
                                        name: '林家',
                                    }
                                    ],
                                    label: {
                                        normal: {
                                            show: true,
                                            textStyle: {
                                                fontSize: 10
                                            },
                                            position: 'right'
                                        }
                                    },
                                    tooltip: {
                                        formatter: function (node) {
                                            if (!node.value) {
                                                return node.data.name;
                                            } else {
                                                return node.data.name + ":" + node.data.showNum;
                                            }
                                        },
                                    },
                                    lineStyle: {
                                        normal: {
                                            opacity: 0.9,
                                            width: 1.5,
                                            curveness: 0.3
                                        }
                                    },
                                    nodes: rela.data,
                                    links: rela.links,
                                }
                            ]
                        };
                        myChart.setOption(option);
                        myChart.on('click', function (params) {
                            if (params.dataType === 'node') {
                                // window.open("https://www.baidu.com/s?wd=" + params.data.name);
                            }
                        });
                    </script>
                </div>
                <!--End page content-->
            </div>
            <!--END CONTENT CONTAINER-->
        </div>
        <!-- SCROLL PAGE BUTTON -->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
    </div>
    <!-- END OF CONTAINER -->
</body>

</html>
